# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
node_modules/
resources/*/.idea
resources/.idea
**/.DS_Store
.DS_Store
.idea
*.xccheckout
apps/*/PayPal Here/.sass-cache/**
resources/.sass-cache/**
scripts/ioCSS/.ioCSS_SCSS_Output/**
scripts/ioCSS/.sass-cache/**
*.xccheckout
.sass-cache
.bundle
resources/buildInfo.scss
copyFromSimulator.sh
xcodebuild*.log

.project

.buildpath

**/Pods/*